name: auro_wallet
description: MinaWallet made with Flutter.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.1.9+1123

environment:
  sdk: ">=2.17.0 <3.0.0"

publish_to: none

dependencies:
  # intl - format numbers
  intl: ^0.18.1
  json_annotation: ^4.0.0
  # state management with mobx & provider
  mobx: ^2.0.1
  flutter_mobx: ^2.0.0
  shared_preferences: ^2.0.5
  get_storage: ^2.0.2
  convert: ^3.0.0
  http: ^1.2.0
  rxdart: ^0.27.7
  dio: ^5.4.1
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  #  device_info: ^0.4.2
  biometric_storage:
    git:
      url: https://github.com/authpass/biometric_storage.git
      ref: f5146678a4b23e0475bde17421e3fbffa7db2649
  fluttertoast: ^8.1.1
  bip39: 1.0.6
  roundcheckbox: ^2.0.4+1
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  # QR code generator & reader
  qr_flutter: ^4.0.0
  permission_handler: ^11.3.0
  # svg renderer
  flutter_svg: ^2.0.10+1
  # open link in browser
  url_launcher: ^6.0.3
  # GraphQL
  graphql_flutter: ^5.0.0-nullsafety.2
  flutter_easyloading: ^3.0.0
  flutter_sodium: ^0.2.0
  bs58check: ^1.0.2
  percent_indicator: ^4.2.3
  flutter_secure_storage: ^8.1.0
  safe_device: ^1.1.0
  encrypt: ^5.0.0
  share: ^2.0.2
  path_provider: ^2.0.2
  bip32: ^2.0.0
  hex: ^0.2.0
  qr_code_scanner: 1.0.1
  qr_code_tools:
    git:
      url: https://github.com/PabloPessotto/qr_code_tools.git
      ref: 8f95dc999833961343c96cfe2e104ee4b650ebd9
  image_picker: ^1.0.7
  flutter_switch: ^0.3.2
  webcrypto: ^0.5.2
  styled_text: ^8.1.0
  flutter_rust_bridge: ^1.30.0
  dropdown_button2: ^2.3.9
  dotted_line: ^3.1.0
  ledger_flutter: ^1.0.1
  decimal: ^2.3.3
  flutter_inappwebview: ^5.8.0
  webview_flutter: ^4.0.7
  
dependency_overrides:
  reactive_ble_mobile: '5.0.3'
  reactive_ble_platform_interface: '5.0.3'


dev_dependencies:
  build_runner: ^2.1.7
  json_serializable: ^6.1.4
  mockito: ^5.1.0
  flutter_launcher_icons: ^0.13.1
  flutter_native_splash: ^2.2.13
  flutter_test:
    sdk: flutter
  flutter_phoenix: ^1.0.0
  freezed: ^2.0.3+1

flutter_icons:
  android: "launcher_icon"
  ios: true
  remove_alpha_ios: true
  image_path: "assets/images/public/app.png"

flutter_native_splash:
  color: "#ffffff"
  image: "assets/images/public/splash_screen.png"
  #  branding: "assets/images/public/splash_screen.png"
  android_12:
    color: "#ffffff"
    image: "assets/images/public/app.png"
  #    branding: "assets/images/public/splash_screen.png"
  android_gravity: center
  ios_content_mode: center

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  generate: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/webview/bridge.js
    - assets/webview/bridge.html
    # images
    ## images - settings
    # - assets/images/assets/Mina.png  unuse
    ## images - mina
    - assets/images/assets/2x/top_header_bg@2x.png
    - assets/images/assets/wallet_manage.svg
    - assets/images/assets/send.svg
    - assets/images/assets/receive.svg
    - assets/images/assets/card_mask.png
    - assets/images/assets/card_logo.png
    - assets/images/assets/2x/round_checked@2x.png
    - assets/images/assets/tx_in.svg
    - assets/images/assets/tx_out.svg
    - assets/images/assets/tx_stake.svg
    - assets/images/assets/right_arrow.svg
    - assets/images/assets/copy.svg
    - assets/images/assets/more.svg
    - assets/images/assets/add_wallet.svg
    - assets/images/assets/import_wallet.svg
    - assets/images/assets/import_ledger.svg
    - assets/images/public/2x/m_logo@2x.png
    - assets/images/public/error_tip.svg
    - assets/images/public/success_tip.svg
    - assets/images/public/next.svg
    - assets/images/public/wallet_success.png
    - assets/images/public/2.0x/wallet_success.png
    - assets/images/public/scan_bg.png
    - assets/images/public/red_alert.svg
    - assets/images/public/loading_circle.svg
    - assets/images/public/pending_tip.svg
    - assets/images/public/icon_copy.svg
    - assets/images/public/search.svg
    - assets/images/public/icon_address.svg

    # ledger
    - assets/images/ledger/ledger_mina.svg

    # setting
    - assets/images/setting/aboutus.svg
    - assets/images/setting/locale.svg
    - assets/images/setting/network.svg
    - assets/images/setting/security.svg
    - assets/images/setting/twitter.svg
    - assets/images/setting/telegram.svg
    - assets/images/setting/telegram.png
    - assets/images/setting/2.0x/telegram.png
    - assets/images/setting/website.svg
    - assets/images/setting/wechat.png
    - assets/images/setting/usd.svg
    - assets/images/setting/contact.svg
    - assets/images/setting/terms.svg
    - assets/images/setting/privacy.svg
    - assets/images/setting/empty_contact.svg
    - assets/images/setting/2.0x/setting_logo.png
    - assets/images/setting/setting_logo.png

    ## stake
    - assets/images/stake/icon_delegation.svg
    - assets/images/stake/icon_epoch.svg

    ## tab bar bottom
    - assets/images/public/home_tab.svg
    - assets/images/public/stake_tab.svg
    - assets/images/public/browser_tab.svg
    - assets/images/public/setting_tab.svg
    - assets/images/assets/scanner_black.png
    - assets/images/assets/receive_line_black.png
    ## receive
    - assets/images/receive/dot1.png
    - assets/images/receive/2.0x/dot1.png
    - assets/images/receive/dot2.png
    - assets/images/receive/2.0x/dot2.png
    - assets/images/receive/seperator.png
    - assets/images/receive/2.0x/seperator.png
    - assets/images/receive/icon_copy.svg
    - assets/images/receive/icon_share.svg
    - assets/images/receive/receive_bg.svg


    ## images - public
    - assets/images/public/app.png
    - assets/images/public/logo_about.png
    - assets/images/public/copy.png
    - assets/images/public/splash_screen.png
    - assets/images/public/no.svg
    - assets/images/public/icon_nav_close.svg
    - assets/images/public/error.svg

    # - assets/images/assets/logo.png unuse
    - assets/images/assets/assets_send.png
    - assets/images/assets/assets_receive.png
    - assets/images/assets/assets_up.png
    - assets/images/assets/assets_down.png
    - assets/images/assets/assets_fail.png
    - assets/images/assets/success.png
    - assets/images/assets/contacts.svg
    - assets/images/assets/scanner.svg

    - assets/images/public/loading.gif


    - assets/images/entry/icon_add.svg
    - assets/images/entry/icon_restore.svg
    - assets/images/entry/desc.svg
    - assets/images/entry/auro_logo.png
    - assets/images/entry/2.0x/auro_logo.png

    # # webview
    - assets/images/webview/icon_unfav.svg
    - assets/images/webview/icon_back.svg
    - assets/images/webview/icon_clear.svg
    - assets/images/webview/icon_close.svg
    - assets/images/webview/icon_fav.svg
    - assets/images/webview/icon_pop.svg
    - assets/images/webview/icon_refresh.svg
    - assets/images/webview/icon_copy.svg
    - assets/images/webview/icon_link.svg
    - assets/images/webview/icon_web_holder.svg
    - assets/images/webview/icon_alert.svg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
